
body {
	background: navy;
}
small {
	font-size: 60%;
}
button {
	font-size: 9px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: aliceblue;
  margin-top: 20px;
}

.winner {
	background: yellowgreen !important;
	color: white !important;
	border-radius: 130px;
    padding: 20px 40px;
}
.currentPlayerOffer {
	font-weight: 700!important;
    text-align: center!important;
    font-size: xxx-large;
    top: 5vh;
    left: 15vw;
    position: absolute;
}
.currentOpponentOffer {
	font-weight: 700!important;
    text-align: center!important;
    font-size: xxx-large;
    top: 5vh;
    right: 15vw;
    position: absolute;
}
.not-clicked {
	background: #6c757d;
}

.progress {
	margin: 10px;
}

.scoreBoard {
	width: 100%;
	font-weight: 700!important;
	text-align: center!important;
	font-size: x-large;	
}

.scoreBoard p {
	margin: 0 !important;
}

.currentTurn {
	background: blueviolet;
	border-radius: .25rem!important;
	padding: 5px;
}

.accepts {
	color: #5aa7f9;
}

.waits {
	color: #adbece;
}

.rejects {
	color: #ffc107;
}

.penalty {
	color: red;
}

.penalty-inactive {
	color: white !important;
}

.score {
	color: yellowgreen;
}